img {
    width: 55px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
}

ul,
li,
menu {
    list-style: none;
}

/* BACKGROUND RULES */
.main-bg {
    height: 100vh;
    background-color: #DADBD3;
}

.top-bg {
    background-color: #009688;
    height: 155px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


/* CONTAINER RULES*/
.container {
    position: relative;
    z-index: 1;
}

/* USER RULES */
.bg-user {
    background-color: #EAEAEA;
}

.icon-color {
    color: #B1B1B1;
    font-size: 20px;
}

/*NOTIFICATION BAR */
.notification {
    background-color: #8EDAFC;
}

.bell{
    color: #8EDAFC;
    background-color: white;
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    font-size: 20px;
}

.notification-title {
    font-size: 15px;
}

.notification-subtitle {
    font-size: 13px;
    color: grey;
    text-decoration: underline;
}

/* CONTACTS RULES*/

.contacts{
    overflow-y: scroll;
    background-color: white;
}

.contact-title{

    font-size: 15px;
}

.message-p{
    font-size: 10px;
    color: #95a7b8;
}

.bg-user .message-p{
    font-size: 10px;
    color: black;
}

/* MAIN CONTENT RULES */

.main-content{

    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.chat{

    padding: 50px 80px;
}

.message{
    position: relative;
    font-size: 15px;
    border-radius: 15px;
    padding: 15px 25px;
    max-width: 70%;
}

.time{
    font-size: 10px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: #95a7b8;
}

.sent{
    background-color: #D5F9BA;
    align-self: flex-end;
}

.received{
    background-color: white;
    align-self: flex-start;
}

.text-bar{
    background-color: #F3EEEA;

}

.active{
    display: block;
}

.not-visible{
    display: none;
}