<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel="stylesheet" href="./css/app.css">
    <script src="https://kit.fontawesome.com/113dcf80a9.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body class="main-bg">

    <div class="top-bg"></div>


    <div id="app" class="container">

        <div class="row g-0">

            <aside class="col-4 d-flex flex-column border-end">

                <div class="py-1 bg-user d-flex justify-content-between align-items-center">

                    <div class="d-flex align-items-center">
                        <img class="ms-2" src="./img/profile-avatar.jpg" alt="">
                        <span class="ms-2 fw-bold">Morena</span>
                    </div>

                    <ul class="d-flex icon-color">
                        <li class="me-3">
                            <i class="fa-solid fa-circle-notch"></i>
                        </li>
                        <li class="me-3">
                            <i class="fa-solid fa-message"></i>
                        </li>
                        <li class="me-3">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </li>
                    </ul>
                </div>

                <div class="notification p-3 d-flex">
                    <div class="bell d-flex align-items-center p-3">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="col-12 mx-3">
                        <h3 class="notification-title">Ricevi notifiche di nuovi messaggi</h3>
                        <h4 class="notification-subtitle">Attiva notifiche desktop</h4>
                    </div>

                </div>

                <div class="bg-user">
                    <div class="input-group flex-nowrap p-1">
                        <span class="input-group-text" id="addon-wrapping">
                            <i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat"
                            aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                </div>

                <div class="contacts">
                    <!-- Ciclo tutti i contatti nella lista -->
                    <div class="d-flex align-items-center border-top py-2 ms-1"
                        v-for="(contact, index) in friendContacts" :key="index" @click="showContact(index)">

                        <img :src="contact.avatar">

                        <div class="contact-info ms-2">
                            <h2 class="contact-title">{{ contact.name }}</h2>
                            <p class="message-p">{{ fixMessage}}</p>
                        </div>
                        <p class="ms-auto message-p">{{lastConnection}}</p>
                    </div>
                </div>

            </aside>

            <main class="col-8 d-flex flex-column">

                <div class="bg-user d-flex justify-content-between align-items-center">

                    <div class="d-flex align-items-center">

                        <img class="ms-2" :src="friendContacts[activeContact].avatar">
                        <div class="friendProfile py-1 ms-2">
                            <h3 class="fw-bold fs-6">{{friendContacts[activeContact].name}}</h3>
                            <p class="message-p">Ultimo accesso alle ore 12:00</p>
                        </div>
                    </div>

                    <ul class="d-flex icon-color">
                        <li class="me-3">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </li>
                        <li class="me-3">
                            <i class="fa-solid fa-paperclip"></i>
                        </li>
                        <li class="me-3">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </li>
                    </ul>
                </div>

                <div class="main-content flex-grow-1">

                    <ul class="chat d-flex flex-column gap-2">
                        <li v-for="(element, index) in friendContacts[activeContact].messages" :key="index"
                            class="message sent"
                            :class="friendContacts[activeContact].messages[index].status === 'sent' ? 'sent' : 'received'">
                            {{friendContacts[activeContact].messages[index].message}}
                            <span class="time">
                                {{friendContacts[activeContact].messages[index].date}}
                            </span>
                        </li>
                        <!-- <li class="message sent-message">
                            Ricordati di stendere i panni.
                            <span class="time">
                                15:37
                            </span>
                        </li>
                        <li class="message received-message">
                            Tutto fatto!
                            <span class="time">
                                15:45
                            </span>
                        </li> -->
                    </ul>


                </div>

                <div class="text-bar py-2 d-flex justify-content-between align-items-center">

                    <div class="icon-color mx-2">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                    <div class="flex-grow-1 mx-2">
                        <input v-model="userMessage" 
                            @keyup.enter="newMessage" type="email" class="form-control"
                            id="exampleFormControlInput1" placeholder="Nuovo messaggio...">
                    </div>

                    <div class="icon-color mx-2">
                        <i class="fa-solid fa-microphone"></i>
                    </div>

                </div>
            </main>
        </div>

    </div>
    <script src="./js/app.js"></script>
</body>

</html>